extends layout

block content
	.section
		.container
			.row
				div(class='nine columns')
					h1=title
				div(class='three columns')
					button#run='run'
			.row
				div(class='twelve columns')
					#epad
