extends layout

block content
	.section
		.container
			.row
				div(class='twelve columns')
					h1= title
			.row
				div(class='six columns')
					label Pad name
					input(type='text' id='newPadID' name='newPadID')
				div(class='six columns')
					button#create.button-primary.u-pull-right='create pad'
			.row
				div(class='twelve columns')
					h4 List of pads
			.row
				div(class='twelve columns')
					table(class='u-full-width' id='padList')
						thead
							tr
								th Pad ID
								th Actions
					

block append scripts
	script(src='/javascripts/pads-index.js')