doctype html
html
	head
		title= title
		meta(name='viewport' content='width=device-width, initial-scale=1')
		// font
		link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Raleway:400,300,600' type='text/css')
		// skeleton
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/skeleton.css')
		// css
		link(rel='stylesheet', href='/stylesheets/styles.css')
		// sweetalert
		script(src='https://cdn.jsdelivr.net/npm/sweetalert2@9')
		// js
		script(src='/javascripts/plugins/jquery.min.js')
		script(src='/javascripts/plugins/etherpad.js')
		script(src='/javascripts/test.js')
	body
		block content
