doctype html
html
	head
		title= title
		meta(name='viewport' content='width=device-width, initial-scale=1')
		// fonts
		link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Raleway:400,300,600' type='text/css')
		link(rel='stylesheet' href='//fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap' type='text/css')
		// skeleton
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/skeleton.css')
		// css
		link(rel='stylesheet', href='/stylesheets/styles.css')
		block scripts
			// js
			script(src='/javascripts/plugins/jquery.min.js')
			script(src='/javascripts/plugins/etherpad.js')
			// notify.js
			script(src='/javascripts/plugins/notify.min.js')
	body
		block content