/* Major Mono Font
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.major {
  font-family: 'Major Mono Display', monospace;
}

/* Navbar
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Major Mono Display', monospace;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.navbar a:hover {
  color: #0FA0CE;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 5rem 0 7rem;
  /*text-align: center;*/
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Button margin
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button, a {
  margin-left: 1rem;
}

/* Table buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
td button,
td a{
  margin-bottom: 0rem;
}

/* Extra buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* button-warning */
.button.button-warning,
  button.button-warning,
  input[type="submit"].button-warning,
  input[type="reset"].button-warning,
  input[type="button"].button-warning {
    color: #FFF;
    background-color: #f09e33;
    border-color: #f09e33; }
  .button.button-warning:hover,
  button.button-warning:hover,
  input[type="submit"].button-warning:hover,
  input[type="reset"].button-warning:hover,
  input[type="button"].button-warning:hover,
  .button.button-warning:focus,
  button.button-warning:focus,
  input[type="submit"].button-warning:focus,
  input[type="reset"].button-warning:focus,
  input[type="button"].button-warning:focus {
    color: #FFF;
    background-color: #d89031;
    border-color: #d89031; }

/* button-danger */
.button.button-danger,
  button.button-danger,
  input[type="submit"].button-danger,
  input[type="reset"].button-danger,
  input[type="button"].button-danger {
    color: #FFF;
    background-color: #f03f33;
    border-color: #f03f33; }
  .button.button-danger:hover,
  button.button-danger:hover,
  input[type="submit"].button-danger:hover,
  input[type="reset"].button-danger:hover,
  input[type="button"].button-danger:hover,
  .button.button-danger:focus,
  button.button-danger:focus,
  input[type="submit"].button-danger:focus,
  input[type="reset"].button-danger:focus,
  input[type="button"].button-danger:focus {
    color: #FFF;
    background-color: #db392e;
    border-color: #db392e; }


/* button-transparent */
.button.button-transparent,
  button.button-transparent,
  input[type="submit"].button-transparent,
  input[type="reset"].button-transparent,
  input[type="button"].button-transparent {
    font-family: 'Major Mono Display', monospace;
    font-size: 50px;
    font-weight: 3;
    text-transform: lowercase;
    padding: 30px 0;
    border: 0;
    color: #FFF;
    background-color: rgba(0,0,0,0); }
  .button.button-transparent:hover,
  button.button-transparent:hover,
  input[type="submit"].button-transparent:hover,
  input[type="reset"].button-transparent:hover,
  input[type="button"].button-transparent:hover,
  .button.button-transparent:focus,
  button.button-transparent:focus,
  input[type="submit"].button-transparent:focus,
  input[type="reset"].button-transparent:focus,
  input[type="button"].button-transparent:focus {
    color: rgba(255, 255, 255, 0.699);
    background-color: rgba(0,0,0,0); }

/* button-primary-trasnparent */
.button.button-primary-transparent:hover,
  button.button-primary-transparent:hover,
  input[type="submit"].button-primary-transparent:hover,
  input[type="reset"].button-primary-transparent:hover,
  input[type="button"].button-primary-transparent:hover,
  .button.button-primary-transparent:focus,
  button.button-primary-transparent:focus,
  input[type="submit"].button-primary-transparent:focus,
  input[type="reset"].button-primary-transparent:focus,
  input[type="button"].button-primary-transparent:focus {
    color: #0FA0CE;
    background-color: rgba(0,0,0,0); }

/* button-danger-trasnparent */
.button.button-danger-transparent:hover,
  button.button-danger-transparent:hover,
  input[type="submit"].button-danger-transparent:hover,
  input[type="reset"].button-danger-transparent:hover,
  input[type="button"].button-danger-transparent:hover,
  .button.button-danger-transparent:focus,
  button.button-danger-transparent:focus,
  input[type="submit"].button-danger-transparent:focus,
  input[type="reset"].button-danger-transparent:focus,
  input[type="button"].button-danger-transparent:focus {
    color: rgb(226, 14, 14);
    background-color: rgba(0,0,0,0); }


/* Transparent input
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"].transparent-input,
  input[type="number"].transparent-input,
  input[type="search"].transparent-input,
  input[type="text"].transparent-input,
  input[type="tel"].transparent-input,
  input[type="url"].transparent-input,
  input[type="password"].transparent-input,
  textarea.transparent-input,
  select.transparent-input {
    background-color: rgba(0,0,0,0); }

/* Modals
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 60%;
  color: #FFF;
}

/* The Close Button */
.close {
  color: #FFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #0FA0CE;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
}